@{
    ViewBag.Title = "Home Page";
}
<h1>GroupDocs.Viewer for Java Dropwizard Sample</h1>

<h2>View document in HTML mode</h2>
<div id="viewerHtmlDiv"></div>

<h2>View document in image mode</h2>
<div id="viewerImageDiv"></div>


@section scripts{
<script>
    $(function () {
        $('#viewerHtmlDiv').groupdocsViewer({
            filePath: 'candy.pdf',
            zoomToFitWidth: true,
            width: 1200,
            height: 900,
            useHtmlBasedEngine:true});
    });


    $(function () {
        $('#viewerImageDiv').groupdocsViewer({
            filePath: 'candy.pdf',
            zoomToFitWidth: true,
            width: 1200,
            height: 900,
            useHtmlBasedEngine: false
        });
    });
</script>    
}
